#{extends 'main.html' /} #{if c} #{set title:'Edicao de Operador' /}
#{/if} #{else} #{set title:'Cadastro de Operador' /} #{/else}


<div class="container col-8 bg-light m-auto">

	<br />
	<div class="text-center">
		<h1>#{get 'title' /}</h1>
	</div>

	<br />

	<form action="/operadores/salvar" method="post">

		<input type="hidden" name="o.id" value="${flash['o.id']}" />

		<div class="mb-3">
			<div class="mb-3">
				<b><label class="form-label">Nome:</label></b> 
				<input class="form-control" type="text" name="o.nomecli"
					value="${flash['o.nomecli']}" required/>
					<span class="text-danger">#{error 'o.nomecli' /}</span>
			</div>

			<div class="mb-3">
				<b><label class="form-label">Email:</label></b> 
				<input class="form-control" type="email" name="o.email" value="${flash['o.email']}" required/>
				<span class="text-danger">#{error 'o.email' /}</span>
			</div>

			<div class="mb-3">
				<b><label class="form-label">Senha:</label></b> 
				<input class="form-control" type="password" name="o.senha"
					value="${flash['o.senha']}" required/>
					<span class="text-danger">#{error 'o.senha' /}</span>
			</div>

			<div class="mb-3">
				<b><label class="form-label">Numero de celular:</label></b> <input
					class="form-control" type="text" name="o.numcel"
					value="${flash['o.numcel']}" required/>
					<span class="text-danger">#{error 'o.numcel' /}</span>
			</div>

			<div class="mb-3">
				<b><label class="form-label">CPF:</label></b> <input
					class="form-control" type="text" name="o.cpf" value="${flash['o.cpf']}" required/>
					<span class="text-danger">#{error 'o.cpf' /}</span>
			</div>

		
				 <input type="submit" class="btn btn-primary" />

		</div>
	</form>
</div>