#{extends 'main.html' /}
#{set title:'Login' /}

<body class=" bg-primary">


<div class="container d-flex justify-content-center position-absolute top-50 start-50 translate-middle"">
  
        <div class="card card-container col-4">
        
            <form class="form-signin m-4 p-4 "action="@{Logins.logar}" method="POST">
            <h4 class="mb-2"> Login </h4>
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" name="email"id="nome" class="form-control mb-2" placeholder="Nome" required autofocus>
                <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha" required>
               <div class="d-flex justify-content-center">
                <button class="btn btn-lg btn-primary btn-block btn-signin mb-2 mt-4" type="submit">Entrar</button>
            </div>
            </form>
            
        </div>
    </div>
  </body>